<h1>Listing Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Delivered at</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.customer, order %></td>
        <td><%= order.delivered_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-success" %>
