<h1>Production Blocks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Start at</th>
      <th>End at</th>
    </tr>
  </thead>

  <tbody>
    <% @production_blocks.each do |production_block| %>
      <tr>
        <td><%= link_to production_block.product, production_block %></td>
        <td><%= production_block.start_at %></td>
        <td><%= production_block.end_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production block', new_production_block_path, class: "btn btn-success" %>
